 body {
    background-color: rgb(8, 75, 44);
}
 img.centered {
    display: block;
    margin: 0 auto;
  }
.wrapper {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100%;
}
.btn {
     margin-bottom: 20px;
    background-color: #a7e57b;
    color: #060706;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}