 body {
    background-color: rgb(8, 75, 44);
}
  img.centered {
    display: block;
    margin: 0 auto;
  }
  .title {
     display: flex;
  justify-content: center; /* horizontal */
  align-items: center; 
  font-size: 38px;
  font-family: 'Georgia', serif;
  color: #e5eae7;
  margin-bottom: 0.5em;
  
}
.lead {
     display: flex;
  justify-content: center; /* horizontal */
  align-items: center; 
  font-size: 22px;
  color: #a2eaa6;
}
.center-wrapper {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100%;
}
.center-btn {
    background-color: #a7e57b;
    color: #060706;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}